{{!< default}}

{{#post}}

<main class="gh-main gh-portfolio">
    <div class="gh-portfolio-header gh-canvas">
        <h1 class="gh-portfolio-title is-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="gh-portfolio-description is-body">{{custom_excerpt}}</p>
        {{/if}}
    </div>

    {{#if html}}
        <section class="gh-content gh-canvas is-body">
            {{content}}
        </section>
    {{/if}}

    <div class="gh-canvas">
        <div class="gh-portfolio-feed">
            {{#get "posts" filter="tag:portfolio" include="tags,authors" limit="100" order="published_at desc"}}
                {{#foreach posts}}
                    <article class="gh-portfolio-item">
                        <a class="gh-portfolio-item-link" href="{{url}}">
                            {{#if feature_image}}
                                <figure class="gh-portfolio-item-image">
                                    <img
                                        srcset="{{img_url feature_image size="s" format="webp"}} 320w,
                                                {{img_url feature_image size="m" format="webp"}} 600w,
                                                {{img_url feature_image size="l" format="webp"}} 960w"
                                        sizes="200px"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                        loading="lazy"
                                    >
                                </figure>
                            {{/if}}
                            <div class="gh-portfolio-item-content">
                                <h3 class="gh-portfolio-item-title is-title">{{title}}</h3>
                                {{#if custom_excerpt}}
                                    <p class="gh-portfolio-item-excerpt is-body">{{custom_excerpt}}</p>
                                {{else if excerpt}}
                                    <p class="gh-portfolio-item-excerpt is-body">{{excerpt}}</p>
                                {{/if}}
                                <div class="gh-portfolio-item-meta">
                                    {{#foreach tags visibility="internal"}}
                                        <span class="gh-portfolio-item-period">{{name}}</span>
                                    {{/foreach}}
                                    {{#if tags}}
                                        <div class="gh-portfolio-item-tags">
                                            {{#foreach tags}}
                                                {{#unless @first}}
                                                    <span class="gh-portfolio-tag">{{name}}</span>
                                                {{/unless}}
                                            {{/foreach}}
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{> "icons/arrow"}}
                        </a>
                    </article>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>

{{/post}}
